body{
    background: black;
    color: skyblue
    margin: 0;
    padding-bottom: 50px;
}

h1{
    color: skyblue;
    font-size: 40px;
    margin: center;
}

p{
    color: skyblue;
    font-size: 50px;
}

header {
    font-size: 50px;
    border-bottom: solid 3px purple;
    margin: 30;
    margin-left: 3;
    margin-right: 80%;
}