
@media screen and (max-width: 768px) and (orientation: portrait) {
    
   
    body {
            font-size: 16px;
        }
    
        
        }
    
       
    h1 {
            font-size: 30px;
        }
    
        
        

    p {
            
           
    font-size: 18px;
        }
    
        
        
    
      
    
        
    
       
    section {
            
           
    margin: 10px;
            padding: 15px;
        }
    
        
      
    iframe {
            width: 90%;
            
           
    height: auto;
        }
    
        
        
    
        
    
        
    
       
    
        
    
    img {
            width: 120px;
        }
    
    
    
       
    /* Estilo para telas maiores (PC ou celular deitado - landscape) */
    
    @
    @media screen and (min-width: 769px) or (orientation: landscape) {
        body {
            font-size: 18px;
        }
    
        
        }
    
      
    
        
    
       
    section {
            
           
    display: flex;
            
            just
    
            ju
    
           
    justify-content: space-around;
            align-items: center;
            
           
    padding: 40px;
        }
    
    
        
    
    .chamada-texto {
            max-width: 50%;
        }
    
        
        
    
        
    
        
    
        
    
        
    
       
    iframe {
            width: 50%;
        }
    
        
        
    
       
    img {
            width: 200px;
        }
    
    
        
    