body{
    background: black;
    color: skyblue
}

h1{
    color: skyblue;
    font-size: 40px;
    margin: center;
}

p{
    color: skyblue;
    font-size: 30px;
}

header {
    background-color: black;
    font-size: 100;
    border-bottom: solid 3px skyblue;
    margin-right:1000
}

p {
    font-size: 30px;

}

div {
    font-size: 100px;

}

section {
background-color: grey;
padding-bottom: 80px;
padding-top: 80px;
display: flex;
justify-content: center;
}

.chamada-texto {
margin-right: 100px;


}